<!DOCTYPE html>

<html ng-app="petClinicApp" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}"/>

    <title>PetClinic :: a Spring Framework demonstration</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/petclinic.css}"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <script th:src="@{/angular/angular.js}"></script>
    <script th:src="@{/angular-route/angular-route.min.js}"></script>

    <script th:src="@{/scripts/app.js}"></script>
    <script th:src="@{/scripts/services/owner-service.js}"></script>
    <script th:src="@{/scripts/services/pet-service.js}"></script>
    <script th:src="@{/scripts/services/vet-service.js}"></script>
    <script th:src="@{/scripts/services/visit-service.js}"></script>
    <script th:src="@{/scripts/controllers/owner-list-controller.js}"></script>
    <script th:src="@{/scripts/controllers/owner-details-controller.js}"></script>
    <script th:src="@{/scripts/controllers/owner-create-controller.js}"></script>
    <script th:src="@{/scripts/controllers/owner-edit-controller.js}"></script>
    <script th:src="@{/scripts/controllers/pet-create-controller.js}"></script>
    <script th:src="@{/scripts/controllers/pet-edit-controller.js}"></script>
    <script th:src="@{/scripts/controllers/vet-list-controller.js}"></script>
    <script th:src="@{/scripts/controllers/visit-list-controller.js}"></script>

    <!--<script th:src="@{/scripts/infrastructure/infrastructure.js}"></script>-->
    <!--<script th:src="@{/scripts/infrastructure/httpErrorHandlingInterceptor.js}"></script>-->
</head>

<body class="container">
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><span></span></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only"><os-p>Toggle navigation</os-p></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="main-navbar">
        <ul class="nav navbar-nav navbar-right">
            <li ng-href-active="active">
                <a ng-href="#/welcome" title="home page">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <span>Home</span>
                </a>
            </li>

            <li ng-href-active="active" class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Owners<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-href="#/owners"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span> All</span></a></li>
                    <li><a ng-href="#/owners/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span> Register</span></a></li>
                </ul>
            </li>

            <li ng-href-active="active">
                <a ng-href="/vets" title="veterinarians">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Veterinarians</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="container xd-container">
        <div ng-view=""></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center"><img src="/images/spring-pivotal-logo.png"
                                             alt="Sponsored by Pivotal"/></div>
    </div>
</div>
</body>

</html>
